# Python virtual environments
.venv/
venv/

# Python caches
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Build outputs
build/
dist/
*.spec

# Editor / OS
.vscode/
.DS_Store

# Optional
*.code-workspace
otaku_save.json
